body {
  background-color: #202020;
  font-family: "Poppins", sans-serif;
}
.hero-section {
  height: 56.25rem;
}
h3 {
  color: #f65282;
}
i {
  color: white;
}
.contact-page {
  height: 30rem;
}
footer {
  background-color: #282323;
}
@media (max-width: 1024px) {
  .contact-page {
    height: 60rem;
  }
}
@media (max-width: 700px) {
  .contact-page {
    height: 42rem;
  }
}
